<div class="barra">
    <a href="/index" class="opcion">Inicio</a>
    <a href="/informacion" class="opcion">informacion</a>
    <a href="/menu" class="opcion">talleres</a>
    <a href="/payment" class="opcion">pago</a>
    <a href="/contact" class="opcion">comentarios</a>
    <a href="/admin/contactlist" class="opcion">registrados</a>
    <a href="/index" class="opcion">salir</a>
</div>