

<footer>
    <div class="footer-container">
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank">Facebook</a> |
            <a href="https://www.tiktok.com" target="_blank">TikTok</a> |
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </div>
        <div class="footer-info">
            <p>&copy; 2025 Nuestro taller Vegano. NutriBite tiene Todos los derechos reservados.</p>
            <p>Contacto: contacto@NutriBite.com</p>
        </div>
    </div>
</footer>