<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>INFORMACION</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/informacion.css" rel="stylesheet" />
</head>

<body>

    
    <div class="barra">
        <a href="/index" class="opcion">Inicio</a>
        <a href="/menu" class="opcion">talleres</a>
        <a href="/payment" class="opcion">pago</a>
        <a href="/contact" class="opcion">comentarios</a>
        <a href="/admin/contactlist" class="opcion">registrados</a>
        
    </div>
      

    
    <div class="item">
    <div class="contenido">
        <img class="imagen" src="/images/menu2.jpeg" alt="Plato 3" />
        <p class="texto">
            Beneficios para la salud: La comida vegana suele ser rica en nutrientes esenciales, como fibra, vitaminas y antioxidantes. Las dietas basadas en plantas pueden ayudar a reducir el riesgo de enfermedades crónicas, como la diabetes tipo 2, enfermedades cardíacas y ciertos tipos de cáncer. Al eliminar productos animales, muchas personas también experimentan una disminución en el colesterol y una mejora en la presión arterial.
        </p>
    </div>
</div>


<div class="informacion">


<div class="item">
    <div class="contenido">
        <img class="imagen" src="/images/menu1.jpg" alt="Plato 3" />
        <p class="texto">
            Impacto ambiental positivo: Optar por una dieta vegana contribuye significativamente a la sostenibilidad del planeta. La producción de alimentos de origen animal requiere más recursos naturales, como agua y tierra, y genera más emisiones de gases de efecto invernadero en comparación con la agricultura de plantas. Adoptar una dieta vegana puede ayudar a reducir la huella ecológica de cada individuo.

        </p>
    </div>
</div>

<div class="item">
    <div class="contenido">
        <img class="imagen" src="/images/menu3.jpg" alt="Plato 3" />
        <p class="texto">
            Ética y bienestar animal: Una de las razones más comunes para elegir una dieta vegana es la preocupación por el bienestar animal. Al evitar productos de origen animal, los veganos contribuyen a reducir la demanda de prácticas agrícolas que pueden ser perjudiciales para los animales. Esta elección refleja una postura ética que favorece el respeto y la compasión hacia todos los seres vivos.
        </p>
    </div>
</div>

<div class="item">
    <div class="contenido">
        <img class="imagen" src="/images/menu4.jpg" alt="Plato 3" />
        <p class="texto">
            Diversidad culinaria: La comida vegana ofrece una amplia variedad de opciones culinarias. Al explorar ingredientes de origen vegetal, como legumbres, granos, nueces y frutas, los veganos pueden disfrutar de una diversidad de sabores y texturas. Esto fomenta la creatividad en la cocina y puede llevar a la incorporación de nuevos alimentos que de otro modo no se probarían.

        </p>
    </div>
</div>

<div class="item">
    <div class="contenido">
        <img class="imagen" src="/images/menu5.jpg" alt="Plato 3" />
        <p class="texto">
            Control del peso y la energía: Muchas personas que adoptan una dieta vegana reportan una mejora en sus niveles de energía y una gestión más efectiva del peso. Las comidas a base de plantas tienden a ser menos calóricas y más saciantes, lo que puede ayudar a mantener un peso saludable. Además, la reducción de alimentos procesados y azucarados en una dieta vegana puede conducir a una mayor claridad mental y energía sostenida a lo largo del día.

        </p>
    </div>
</div>

</div>
<%- include('footer') %>
    </body>