<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>MENU</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/ordenes.css" rel="stylesheet" />
</head>

<body>


        
        <div class="barra">

            <a href="/index" class="opcion">Inicio</a>
            <a href="/informacion" class="opcion">informacion</a>
            <a href="/menu" class="opcion">talleres</a>
            <a href="/ordenes" class="opcion">inscripcion</a>
            <a href="/index" class="opcion">salir</a>
        </div>


    <h1>inscripcion del taller</h1>

<div class="llenado">
    <h2>nombre</h2>
<input type="text" placeholder="ingrese su nombre" required/>
<h2>Apellido</h2>
<input type="text" placeholder="ingrese su descripcion" required/>
<h2>direccion</h2>
<input type="text" placeholder="direccion del pedido" required/>
<label for="comida" class="label-comida">nivel del taller</label>
<select id="opcion" name="opcion">
    <option value="opcion1">seleccione el nivel del taller</option>
    <option value="opcion1">basico</option>
    <option value="opcion1">medio</option>
    <option value="opcion1">alto</option>
    <option value="opcion1">mega</option>
</select>

<input type="text" placeholder=" edad" required/>
<div class="botones"> 
<button class="botoncito color-3" onclick="window.open('#')">enviar</button>
<button class="botoncito color-3" onclick="window.open('#')">borrar</button>
</div>
</div>

<img class="logo" src="logo.png".png" alt="primero" />
<%- include('footer') %>
</body>
</html>