<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pago Exitoso</title>
    <link href="/stylesheets/exito.css" rel="stylesheet">
</head>
<body>

    <main class="container">
        <div class="alert-success">
            <h2>¡Usuario registrado con éxito!</h2>
            <p>te has registrado correctamente.</p>
            <a href="/login" class="botoncito color-3">Volver al inicio</a>
        </div>
    </main>

</body>
</html>